<div class="col-sm-12 p-a-12">
  <div class="row p-trl-b">
    <div><span class="head-font">Data gathering stage</span></div>
  </div>
  <div class="row p-brl-t">
    <div class="col-sm-3">
      <span class="sub-head-font">Data gathering start date</span>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row p-trl-b">
    <div><span class="head-font">PQQ stage</span></div>
  </div>
  <div class="row p-brl-t">
    <div class="col-sm-3">
      <span class="sub-head-font">EOI issue date</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
    <div class="col-sm-3">
      <span class="sub-head-font">PQQ issue date</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
  </div>
  <div class="row p-a-12">
    <div class="col-sm-3">
      <span class="sub-head-font">PQQ length (days)</span>
    </div>
    <div class="col-sm-3">
      <input type="text" placeholder="PQQ length (days)" />
    </div>
    <div class="col-sm-3">
      <span class="sub-head-font">PQQ due date</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
  </div>
  <div class="row p-a-12">
    <div class="col-sm-3">
      <span class="sub-head-font">PQQ evaluation start </span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
    <div class="col-sm-3">
      <span class="sub-head-font">PQQ evaluation end </span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
  </div>
  <div class="row p-trl-b">
    <div>
      <span class="head-font">IIT stage</span>
    </div>
  </div>
  <div class="row p-brl-t">
    <div class="col-sm-3">
      <span class="sub-head-font">ITT issue date</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
    <div class="col-sm-3">
      <span class="sub-head-font">IIT length (days)</span>
    </div>
    <div class="col-sm-3">
      <input type="text" placeholder="IIT length (days)" />
    </div>
  </div>
  <div class="row p-a-12">
    <div class="col-sm-3">
      <span class="sub-head-font">ITT due date</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
    <div class="col-sm-3">
      <span class="sub-head-font">IIT evaluation start</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
  </div>
  <div class="row p-a-12">
    <div class="col-sm-3">
      <span class="sub-head-font">ITT evaluation end</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
    <div class="col-sm-3">
      <span class="sub-head-font">Clarification start date</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
  </div>
  <div class="row p-a-12">
    <div class="col-sm-3">
      <span class="sub-head-font">Clarification end date</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
    <div class="col-sm-3">
      <span class="sub-head-font">BAFO start date</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
  </div>
  <div class="row p-a-12">
    <div class="col-sm-3">
      <span class="sub-head-font">BAFO end date</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
  </div>
  <div class="row p-trl-b">
    <div>
      <span class="head-font">Award stage</span>
    </div>
  </div>
  <div class="row p-brl-t">
    <div class="col-sm-3">
      <span class="sub-head-font">Standstill start date</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
    <div class="col-sm-3">
      <span class="sub-head-font">Standstill end date</span>
    </div>
    <div class="col-sm-3"><input type="date" name="" id="" /></div>
  </div>
  <div class="row p-a-12">
    <div class="col-sm-3">
      <span class="sub-head-font">Mobilisation date</span>
    </div>
    <div class="col-sm-3">
      <input type="date" name="" id="" />
    </div>
  </div>
  <div class="row p-a-12">
    <div>
      <button type="button" class="btn-save">
        <span class="btn-span">Save</span>
      </button>
    </div>
  </div>
</div>
